.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #9e9e9e;
  border-radius: 8px;
  height: 60%;
  width: 320px;
  position: relative;
}

.closeButton {
  width: 15px;
  height: 15px;
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  transition: transform 0.2s ease;
}

.closeButton:hover {
  transform: scale(1.1);
}

.closeButton::before, .closeButton::after {
  content: '';
  position: absolute;
  height: 15px;
  width: 2px;
  background-color: #000;
}

.closeButton::before {
  transform: rotate(45deg);
}

.closeButton::after {
  transform: rotate(-45deg);
}

.scrollContent { 
  overflow-y: auto; 
  height: 100%;
  width: 100%;
}

.containerBloomerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 30px;
}

@media (max-width: 768px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%; 
  }
}